<div>
    <h1> Produtos:</h1>

    <div>
        <span ng-repeat="produto in produtos"> 
            {{produto.Nome: }} -- {{produto.QuantidadeDisponivel}} Disponível</span>
    </div>

    <h1> Pacotes:</h1>
    <div>
        <span ng-repeat="pacote in pacotes"> {{pacote.Nome: }} -- {{pacote.Descricao}}</span>
    </div>

    <h1>Opcionais:</h1>
    <div>
        <span ng-repeat="opcional in opcionais"> {{opcional.Nome: }} -- {{opcional.QuantidadeDisponivel}} Disponível
        </span>
    </div>
</div>