<menu active="menu" user="usuario" logout="logout" class="no-padding"></menu>

<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">

        <form name="novoPostForm" novalidate>
            <legend> Post</legend>

            <hr>

            <div class="form-group">
                <label for="conteudo"> Conteúdo: </label>
                <span ng-show="novoPostForm.conteudo.$error.required && novoPostForm.$submitted">Campo Obrigatório</span>
                <input type="text" class="form-control" name="conteudo" ng-model="novoPost.conteudo" required/>
            </div>
            <button class="btn btn-default btn-block" ng-click="salvar(novoPost)">Postar</button>

        </form>
    </div>
</div>

<div class="container-fluid">

    <div class="col-md-8 col-md-offset-2" ng-repeat="post in posts" style="margin-top:30px;">
        <h3>Posts</h3>
        <hr>
        <div class="white-card">
            <h4 class="text-center">{{post.idusuario.nome}}</h4>
            <p>{{post.conteudo}}</p>
            <strong>Data: </strong>
            <p>{{post.datapost}}</p>
        </div>
        <hr>
        <div>
            <input type="text" name="conteudo" ng-model="novoComentario.conteudo" required/>
            <button class="btn btn-default" ng-click="comentar(post.idpost, novoComentario)">Comentar</button>
        </div>
        <hr>
        <div>
            <button class="btn btn-default" ng-click="curtir(post.idpost)">Curtir</button>
        </div>
    </div>

</div>