<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand no-padding">
                <img class="img-menu" alt="logo" src="images/logo.png" width="200px" height="200px">
            </div>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li ng-class="{'active': active === 1}"><a href="#!/usuarios">Encontrar Pessoas</a></li>
            <li ng-class="{'active': active === 2}"><a href="#!/perfil">Perfil</a></li>
            <li ng-class="{'active': active === 3}"><a href="#!/dashboard">DashBoard</a></li>
            <li ng-class="{'active': active === 4}"><a href="#!/amigos">Amigos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown active" uib-dropdown>
                <p id="dropdown" class="navbar-text dropdown-toggle" uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-user mr-10"></span> {{user.nome}}
                    <span class="caret"></span>
                </p>
                <ul class="dropdown-menu" aria-labelledby="dropdown" role="menu" uib-dropdown-menu>
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>