<menu active="menu" user="usuario" logout="logout" class="no-padding"></menu>

<div class="col-md-8 col-md-offset-2">

    <div>
        <label for="nomeMembro">Digite o usuário a ser buscado:</label>
        <input type="text" id="nomeMembro" ng-model="membro.nome">
    </div>

    <div style="margin-top: 50px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Adicionar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="membro in usuarios | filter : membro.nome">
                    <th scope="row">{{membro.nome}}</th>
                    <td>{{membro.sexo}}</td>
                    <td>{{membro.email}}</td>
                    <td ng-if="!estaNaListaDeAmigos(membro.idusuario) || !estaNaListaDePendentes(membro.idusuario)"><button class="btn btn-default btn-block" ng-click="convidarAmigo(membro.idusuario)">Adicionar</button></td>
                    <td ng-if="estaNaListaDeAmigos(membro.idusuario)">
                        <span> Já são amigos </span>
                    </td>
                    <td ng-if="estaNaListaDePendentes(membro.idusuario)">
                        <span> Solicitado </span>
                    </td>
                    <td>
                        <a class="btn btn-default btn-block" role="button" href="#!/perfilDetalhes/{{membro.idusuario}}">Ver Perfil</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>