<menu active="menu" user="usuario" logout="logout" class="no-padding"></menu>

<div class="col-md-12 col-md-offset-2">
    <div style="margin-top: 50px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Adicionar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios | orderBy:'nome'">
                    <th scope="row">{{usuario.nome}}</th>
                    <td>{{usuario.sexo}}</td>
                    <td>{{usuario.email}}</td>
                    <td><button class="btn btn-primary" ng-click="convidarAmigo(usuario.idusuario)">Adicionar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>