<div class="col-md-8" style="margin-top: 200px;">

    <h1> Lançamentos </h1>

    <div class="row">

        <div ng-repeat="livro in lancamentos">
            <div>
                <img ng-src="{{livro.Capa}}" alt="Capa">
            </div>
            <div>
                <ul>
                    <li>{{livro.Titulo}}</li>
                    <li>{{livro.Genero}}</li>
                    <li>{{Livro.Autor.Nome}}</li>
                    <li>
                        <a href="/#/detalhes/livro.Isbn">
                            Detalhes
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <hr>

    <div class="row">
        <div ng-repeat="livro in livros">
            <div>
                <img ng-src="{{livro.Capa}}" alt="Capa">
            </div>
            <div>
                <ul>
                    <li>{{livro.Titulo}}</li>
                    <li>{{livro.Genero}}</li>
                    <li>{{Livro.Autor.Nome}}</li>
                </ul>
            </div>
        </div>

        <button class="btn btn-default" ng-click="proximaPage()">Próximo</button>
        <button class="btn btn-default" ng-click="anteriorPage()">Anterior</button>
    </div>

</div>