* {
    box-sizing: border-box;
}
body{
    margin: 0;
}

.container{
    font-size: 0;
    width: 100%;
    height: 100vh;
    display: inline-block;
    border: 6px solid black;
}

.col{
     font-size: initial;
      height: 25%;
      display: inline-block;
      border: 2px solid black;
      text-align: center;
}

.inner{ 
   background: red;
   width: 25%;
}
.inner:hover{
background: blue;
}

.inner2{
   background: blue;
   width: 50%;
}
.inner2:hover{
    background: red;
}

.inner3{
   background: purple;
   width: 100%;
}
.inner3:hover{
    background: yellow;
}

.inner4{
   background:yellow;
   width: 10%;
}

.inner4:hover{
    background: purple;
}