*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: url("background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
}

.container-menu{
	margin: 350px auto 0;
	display: table;
	border-radius: 300px;
    background: rgba(90, 85, 85, 0.7);
    text-decoration: none;
    padding: 20px;
}
.menu > .item {
    margin: 25px;
}
            
.menu > .item > a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container{
    width: 800px;
    margin: 10px auto 0;
    background: gray;
}