* {
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
}

.row {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/73/0b/e6/730be66b84fcd0bb1e48e66de8281fa7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 22px;
    height: 120px;
    width: 100%;
    position: fixed;
    margin-bottom: 100px;
}

.link {
    text-decoration: none;
    color: black;
}