<div class="col-md-6">
    <form novalidate name="Formulario1" ng-submit="create(aulaNova)">

        <div class="form-group">

            <h2>Adicionar Aula:</h2>

            <label for="nomeAula"> Nome: </label>
            <input type="text" class="form-control" name="nomeAula" ng-model="aulaNova.nomeAula" required ng-minlength="3" ng-maxlength="20"
            />
            <span class="help is-danger" ng-show="Formulario1.$error.required">Campo Obrigatório</span>
            <span class="help-block" ng-show="Formulario1.nomeAula.$error.minlength || Formulario1.nomeAula.$error.maxlength">
        Deve ter no mínimo 3 letras e no máximo 20 letras. </span>

        </div>   

        <button type="submit" class="btn btn-primary">Adicionar!</button>
    </form>


    <form novalidate name="Formulario1" ng-submit="update(aulaNova)">

        <div class="form-group">

            <h2>Adicionar Aula:</h2>

<label for="nomeAula"> Id: </label>
            <input type="number" class="form-control" name="nomeAula" ng-model="aulaNova.id" />
            <label for="nomeAula"> Novo Nome: </label>
            <input type="text" class="form-control" name="nomeAula" ng-model="aulaNova.nomeAula" required ng-minlength="3" ng-maxlength="20"
            />
            <span class="help is-danger" ng-show="Formulario1.$error.required">Campo Obrigatório</span>
            <span class="help-block" ng-show="Formulario1.nomeAula.$error.minlength || Formulario1.nomeAula.$error.maxlength">
        Deve ter no mínimo 3 letras e no máximo 20 letras. </span>

        </div>   

        <button type="submit" class="btn btn-primary">Adicionar!</button>
    </form>

</div>