<html ng-app="myApp">

<head>
    
    <meta charset="UTF-8">  

    <title>Exercício01</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="JS/Exercício.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>

<body>

<div ng-controller="Controller">

    <table  class="table table-condensed" style="margin-right: 50px;">
  <tr>
    <th>
         <label for="nome"> Nome </label>
    </th>
    <th>
         <label for="tipo"> Tipo </label>
    </th> 
  </tr>

  <tr>
    <td>
        <input type="text" id = "nome" ng-model="pokemon.nome">  
       
    </td>

    <td>
          <input type="text" id="tipo" ng-model="pokemon.tipo">
    </td>
  </tr>

  <tr>
      <td>
          <h1>  Pokemon : {{pokemon.nome}}  </h1>

      </td>    
<td>

<h1>  Pokemon : {{pokemon.tipo}}  </h1>
</td>
       
  </tr>

    </table>
         
</div>
    
</body>

</html>