<html ng-app="myApp">

<head>

    <meta charset="UTF-8">

    <title>Exercício01</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="JS/Exercício.js"></script>

    <link rel="stylesheet" href="Exercício.css">

</head>

<body>

    <div ng-controller="Controller">

        <label for="nome">Digite o Nome a ser buscado:</label>
        <input type="text" id="nome" ng-model="pokemon.nome">

        <ul>
            <li ng-repeat=" pokemon in pokemons | filter : pokemon.nome"> {{ pokemon.nome }}</li>
        </ul>

    </div>

</body>

</html>