<div class="col-md-8">

    <form name="reservaForm" novalidate ng-submit="confimar(reservaModel)">

        <legend> Cadastrar Reserva</legend>

        <div class="form-group">
            <label for="DataReserva"> Data de Devolução: </label>
            <input type="date" class="form-control" name="DataReserva" ng-model="reservaModel.Devolucao" />
        </div>

        <div class="form-group">
            <label for="Produto"> Produto: </label>
            <select name="Produto" multiple class="form-control" ng-model="reservaModel.Produto">>
      <option ng-repeat="produto in produtos" ng-value="{{produto.id}}" >{{produto.Nome}}</option>
    </select>
        </div>

        <div class="form-group">
            <label for="Pacote"> Pacote: </label>
            <select name="Pacote" multiple class="form-control" ng-model="reservaModel.Pacote">>
      <option ng-repeat="pacote in pacotes" ng-value="{{pacote.id}}" >{{pacote.Nome}}</option>
    </select>
        </div>

        <div class="form-group">
            <label for="Opcional"> Pacote: </label>
            <select name="Opcional" multiple class="form-control" ng-model="reservaModel.Opcional">>
      <option ng-repeat="opcional in opcionais" ng-value="{{opcional.id}}" >{{opcional.Nome}}</option>
    </select>
        </div>

        <button type="submit" class="btn btn-default">Confimar!</button>

    </form>